@import './base/normalize';
@import './components/reset';
@import './utils/variables';
@import './components/logo';
@import './components/nav-header';
@import './components/nav-link';
@import './components/contact-list';
@import './components/header';
@import './components/button-main';
@import './components/title';
@import './components/main-section';
@import './components/info';
@import './components/about-us';
@import './components/team';
@import './components/team-social';
@import './components/client-block';
@import './components/footer';
@import './components/footer-soc';
@import './components/form-footer';
@import './components/modal-window';
@import './components/modal-form';
@import './components/button-form';
@import './components/button-portfolio';
@import './components/potfolio-section';
@import './components/overlay-portfolio';