.about-us {
    padding: 47px 0 94px;
}

.preview__item {
    position: relative;
}

.preview__img {
    display: block;
    width: 100%;
    height: auto;
}

.preview__text {
    position: absolute;
    padding: 27px 0;
    left: 0;
    bottom: 0;
    width: 100%;

    color: $primary-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: center;

    background-color: rgba(47, 48, 58, 0.8);
}