.client {
    padding: 94px 0;


&__item {
    display: flex;
}

&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid $border-portfolio;

    transition: color 250ms $animation, border 250ms $animation;
}

&__icon {
    fill: $fill-social-icon;
}
}

.client__link:hover,
.client__link:focus {
    border-color: $blue-color;
}

.client__link:hover .client__icon {
    fill: $blue-color;
}