.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list__item + .contacts-list__item {
    margin-left: 50px;
}

.contact-list__link {
    color: $text-secondary;
    transition: color 250ms $animation;
}

.contact-list__link:hover {
    color: $blue-color;
}

.contact-list__link:hover .svg-header {
    fill: $blue-color;
}

.svg-header {
    margin-right: 10px;
    fill: $text-secondary;
    transition: color 250ms $animation;
}
