.contacts-list {

    @media screen and (min-width: 1200px) {
        @include centeredFlex(flex, center, center);
        margin-left: auto;
    }
       
    
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: auto 0 64px 0;
    }
}

.contacts-list__item + .contacts-list__item {

    @media screen and (min-width: 1199px) {
        margin-left: 50px;
    }
}

.contact-list__link {

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-secondary;
    transition: color 250ms $animation;
}

.mobile {
    
    @media screen and (max-width: 767px) {
        color: $blue-color;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        margin-bottom: 32px;
    }
}

.contact-list__link:hover {
    color: $blue-color;
}

.contact-list__link:hover .svg-header {
    fill: $blue-color;
}

.svg-header {

    @media screen and (max-width:767px) {
        display: none;
    }

    margin-right: 10px;
    fill: $text-secondary;
    transition: color 250ms $animation;
}
