.footer {
    background-color: $primary-background;
    padding: 60px 0;


&__content {
    padding: 0px;
}

&__content--centered {
    display: flex;
    align-items: center;
}
}
.footer__logo,
.address__map {
    color: $title-color;
    transition: color 250ms $animation;
}

.address {
    margin-top: 20px;

        &__map {
        color: $primary-color;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-style: normal;

        transition: color 250ms $animation;

        &:hover,
        &:focus {
            color: $blue-color;
        }
    }

    &__link {
        color: $primary-color;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-style: normal;

        transition: color 250ms $animation;

    }
}