.info-title-footer {
    display: block;
    color: $title-color;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    
}

.social-link-footer {

        @media (max-width: 768px) {
        margin: 60px 0 0 0;
    }
}
    
.soc-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    }


.soc-wrap__icon {
    transition: fill 250ms $animation;
}

.soc-wrap__link--color {
    fill: $title-color;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms $animation;
}