body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    }

address {
    font-style: normal;
    margin-top: 20px;
}

a  {
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

img {
    min-width: 100%;
    height: auto;
    display: block;
}

.centered {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}