    $background-color-team: #f5f4fa;
    $blue-color: #2196f3;
    $primary-color: #ffffff;
    $secondary-color: #212121;
    $primary-background: #2f303a;
    $footer-color-design: #ececec;
    $border-portfolio: #eeeeee;
    $fill-social-icon: #afb1b8;
    $footer-link-color: rgba(255, 255, 255, 0.6);
    $text-primary: #212121;
    $text-secondary: #757575;
    $animation: cubic-bezier(0.4, 0, 0.2, 1);
    $text-btn: #ffffff;
    $title-color: #ffffff;